* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #51abb2;
  padding: 10px;
}

nav {
  align-items: center;
  /* border: red solid 0.5px; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.nav-dir a {
  /* border: red solid 0.5px; */
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  transition: 100ms;
}

.nav-dir a:hover {
  /* background-color: #6eccd3; */
  transform: translateY(-2px) scale(1.1);
  transition: 300ms;
}

.nav-esq {
  box-sizing: border-box;
  /* border: #000000 solid 1px; */
  width: 30%;
}

.nav-dir {
  /* border: red solid 0.5px; */
  display: flex;
  justify-content: space-between;
  width: max-content;
}

.logo-nav {
  /* border: red solid 0.5px; */
  width: 170px;
}

#main {
  background-color: #ecca2f;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
}

.main-esq {
  align-items: center;
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 70px;
  width: 40%;
}

.main-dir {
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.main-dir img {
  border-radius: 10px;
  transition: 100ms;
}

.main-dir img:hover {
  transform: scale(1.07);
  transition: 500ms ease-out;
}

.button {
  background-color: #a63d40;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 4px 5px #000000;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  height: max-content;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.button:hover {
  box-shadow: 5px 6px #000000;
  transform: translateY(-1px) translateX(-1px);
}

.button:active {
  box-shadow: 0px 0px #000000;
  transform: translateY(4px) translateX(4px);
}

.imagem-menu {
  padding: 5px;
  width: 200px;
}

#about {
  background-color: #f2f4ff;
  display: flex;
  justify-content: space-around;
  padding: 70px 20px;
}

.about-image {
  box-shadow: 10px 10px 6px #0000005d;
  width: 600px;
}

.about-esq {
  align-items: center;
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.about-dir {
  /* border: red solid 2px; */
  font-size: 17px;
  padding: 40px 0;
  vertical-align: middle;
  width: 40%;
}

h1 {
  font-size: 45px;
  text-align: left;
}

#feedback {
  /* background-color: #efeae2; */
  /* background-color: #111b21; */
  background-color: #202c33;
  /* border: #a63d40 solid 1px; */
  color: #ffffff;
  padding: 70px 20px 90px;  
}

.feedback-title {
  padding-bottom: 70px;
  text-align: center;
}

.feedback-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customer-feedback {
  /* background-color: #d9fdd3; */
  background-color: #005c4b;
  border: 0.9px solid #0000002d;
  border-radius: 5px;
  /* box-shadow: 0.3px 0.3px black; */
  box-shadow: 10px 20px #0000003d;
  font-size: 20px;
  height: min-content;
  /* margin: 10px; */
  padding: 35px;
  text-align: center;
  transition: 150ms;
  width: 25%;
}

.customer-feedback:hover {
  box-shadow: 10px 20px #0000003d;
  height: min-content;
  width: 30%;
  transition: 300ms;
}

.quote-owner {
  padding-top: 15px;
  text-align: end;
  font-style: italic;
}

footer {
  align-items: center;
  background-color: #a63d40;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 40px 30px;
}

footer a {
  margin: 0 10px;
}

/* .footer-esq {
  border: #ecca2f solid 1px;
}

.footer-dir {
  border: #ecca2f solid 1px;
} */
