* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  text-align: left;
}

/* HEADER */

header {
  background-color: #51abb2;
  padding: 10px;
}

nav {
  align-items: center;
  /* border: red solid 0.5px; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.nav-esq {
  box-sizing: border-box;
  /* border: #000000 solid 1px; */
  width: 30%;
}

.logo-nav {
  /* border: red solid 0.5px; */
  width: 170px;
}

.nav-dir {
  /* border: red solid 0.5px; */
  display: flex;
  justify-content: space-between;
  width: max-content;
}

.nav-dir a {
  /* border: red solid 0.5px; */
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  transition: 100ms;
}

/* MAIN */

#main,
#menu,
#food {
  background-color: #ecca2f;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
}

.main-esq,
.food-esq {
  align-items: center;
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 70px;
  width: 40%;
}

.button {
  background-color: #a63d40;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 4px 5px #000000;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  height: max-content;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 8px;
}

.main-dir,
.food-dir {
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 60px;
  width: 70%;
}

.main-dir img {
  border-radius: 10px;
  transition: 100ms;
}

.imagem-menu {
  padding: 5px;
  width: 200px;
}

/* SOBRE NÓS */

#about {
  /* background-color: #f2f4ff; */
  background-image: url(assets/images/topo.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 70px 20px;
}

.about-esq {
  align-items: center;
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  padding-right: 20px;
}

.about-image {
  box-shadow: 10px 10px 6px #0000005d;
  width: 600px;
}

.about-dir {
  /* border: red solid 2px; */
  font-size: 17px;
  padding: 40px 0;
  vertical-align: middle;
  width: 40%;
}

/* DEPOIMENTOS */

#feedback {
  /* background-color: #efeae2; */
  /* background-color: #111b21; */
  background-color: #202c33;
  /* border: #a63d40 solid 1px; */
  color: #ffffff;
  padding: 70px 20px 90px;
}

.feedback-title {
  padding-bottom: 70px;
  text-align: center;
}

.feedback-row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  box-sizing: border-box;
}

.customer-feedback {
  background-color: #005c4b;
  border: 0.9px solid #0000002d;
  border-radius: 5px;
  box-shadow: 10px 20px #0000003d;
  font-size: 20px;
  height: 100%;
  margin: 10px;
  padding: 35px;
  text-align: center;
  transition: 150ms;
  width: 30%;
  box-sizing: border-box;
}

.quote-owner {
  padding-top: 15px;
  text-align: end;
  font-style: italic;
}

/* FOOTER */

footer {
  align-items: center;
  background-color: #a63d40;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 40px 30px;
}

footer a {
  margin: 0 10px;
}

/* .footer-esq {
  border: #ecca2f solid 1px;
}

.footer-dir {
  border: #ecca2f solid 1px;
} */

/* EFEITOS */

.nav-dir a:hover {
  /* background-color: #6eccd3; */
  transform: translateY(-2px) scale(1.1);
  transition: 300ms;
}

.main-dir img:hover {
  transform: scale(1.07);
  transition: 500ms ease-out;
}

.button:hover {
  box-shadow: 5px 6px #000000;
  transform: translateY(-1px) translateX(-1px);
}

.button:active {
  box-shadow: 0px 0px #000000;
  transform: translateY(4px) translateX(4px);
}

.customer-feedback:hover {
  box-shadow: 10px 20px #0000003d;
  height: min-content;
  width: 37%;
  transition: 300ms;
}

@media screen and (max-width: 768px) {
  header {
    /* border: #000000 solid 2px; */
    padding: 0;
    width: 100%;
  }

  .nav-dir a {
    font-size: 0px;
  }

  .imagem-menu {
    display: none;
  }

  .nav-dir {
    display: none;
  }

  .nav-esq {
    /* border: #000000 solid 2px; */
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .nav-esq img {
    /* border: #000000 soLClid 2px; */
    width: 100px;
  }

  .main-esq {
    /* border: #000000 solid 2px; */
    width: 100%;
  }

  .main-dir {
    display: none;
  }

  .button {
    /* border: #000000 solid 2px; */
    font-size: 10px;
    margin: 10px 0;
    width: 100%;
  }

  .about-image {
    display: none;
  }

  .about-dir {
    /* border: #000000 solid 2px; */
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #about {
    padding: 30px;
  }

  #feedback {
    padding: 20px;
  }

  .feedback-title {
    font-size: 35px;
    padding: 30px;
  }

  .feedback-row {
    /* border: #a63d40 solid 2px; */
    display: block;
  }

  .customer-feedback {
    /* border: #a63d40 solid 2px; */
    box-sizing: border-box;
    box-shadow: none;
    font-size: 17px;
    margin: 10px 0;
    padding: 25px;
    width: 100%;
  }

  .customer-feedback:hover {
    box-shadow: none;
    width: 100%;
  }

  footer {
    /* border: #000000 solid 2px; */
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 18px;
    align-items: center;
  }

  .footer-esq {
    /* border: #000000 solid 2px; */
    margin-bottom: 12px;
  }

  footer a {
    /* border: #000000 solid 2px; */
    margin: 5px;
  }
}

/* CARDÁPIO */

#menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.food-dir {
  padding: 10px;
  padding-right: 50px;
}

.food-image {
  border-radius: 4px;
  box-shadow: 10px 10px 6px #0000005d;
  width: 500px;
}

#menu {
  display: flex;
  flex-direction: column;
  /* border: red solid 2px; */
}

.menu-food {
  /* border: red solid 2px; */
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  width: 100%;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu h1 {
  /* border: #000000 solid 1px; */
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.food-card img {
  /* border: #000000 solid 1px; */
  border-radius: 8px;
  padding: 0;
  transition: 200ms ease-out;
  width: 280px;
}

.food-card img:hover {
  box-shadow: 5px 6px 3px #0000003d;
  transform: translateY(-1px) translateX(-1px);
  transition: 300ms ease-out;
}

.food-card img:active {
  box-shadow: 0px 0px 3px #0000003d;
  transform: translateY(4px) translateX(4px);
}

.food-card h2 {
  padding: 8px;
}